//
// Extended from bootstrap
//
// card


.card{
    box-shadow: $smooth-shadow-sm;
    border: 0px;
    border-radius: $border-radius-lg;
}

.card-rounded-top {
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    border-bottom: 1px solid #ECECEE;
}

.card-rounded-bottom {
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
}

.card-transparant-border {
    border: 1px solid #ECECEE !important;
    box-shadow: none !important;
}

.card-transparant-no-shadow {
    margin: 36px 36px 0px 36px;
    background-color: transparent;
    box-shadow: none;
}

.card-table {
    margin: 36px;
    border: 1px solid #ECECEE;
    border-radius: 12px;
    box-shadow: none;
}